profile = ocamlformat
break-cases = fit-or-vertical
break-fun-decl = fit-or-vertical
wrap-comments = true
match-indent-nested = auto
margin = 100
align-cases
align-constructors-decl
align-variants-decl
indicate-nested-or-patterns = space